<tr>
  <td style="position: relative">
    저는 <b><%= student.sex ? "여자" : "남자" %></b>고
    <b><%= student.subject %></b> 을/를 배우길 원합니다!<br />
    <b><%= student.want_sex_str %></b>선생님을 원하고요, 보수는 <b><%= student.pay %></b>만원 이상 드릴 생각이 있습니다.<br />
    지역은 <b><%= student.location %></b> 이고 나이는
    <b><%= student.year_str %></b>
    입니다.<br />
    <b><%= student.comment %></b><br />
    연락주세요!!
    <%= link_to '수정하기', edit_student_path(student) %>
    <% if student.complete? %>
      <%= link_to '진행중으로 만들기', incomplete_student_path(student) %>
      <br /><span class="label label-success">완료</span>
    <% else -%>
      <%= link_to '완료로 만들기', complete_student_path(student) %>
      <br /><span class="label label-warning">진행중</span>
    <% end -%>
  </td>
</tr>
