<h2><%= current_user.email %>님의 페이지입니다.</h2>

<h3>My Contact Info</h3>
<%= form_tag user_registration_path, :method => "put" do %>
  <%= label_tag "user[phone]", "Phone Number" %>
  <%= text_field_tag "user[phone]", current_user.phone %>
  <%= submit_tag '수정하기' %>
<% end -%>

<h3>My Info as Teacher</h2>

<table class="table table-striped" style="width: 100%">
  <tbody>
    <%= render :partial => "users/teacher", :collection => @teachers %>
  </tbody>
</table>
<h3>My Info as Student</h2>
<table class="table table-striped" style="width: 100%">
  <tbody>
    <%= render :partial => "users/student", :collection => @students %>
  </tbody>
</table>
