<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">
        Teacher for Me
      </a>
      <ul class="nav">
        <li<%= params[:controller]=="teachers" ? ' class=active' : '' %>><a href="<%= teachers_path %>">선생님들</a></li>
        <li<%= params[:controller]=="students" ? ' class=active' : '' %>><a href="<%= students_path %>">학생/학부모님들</a></li>
        <li<%= params[:action]=="about" ? ' class=active' : '' %>><a href="<%= about_path %>">About</a></li>
        <% if user_signed_in? -%>
          <li><%= link_to '관리', me_path %></li>
        <% end -%>
        <li class="dropdown">
          <%= user_signed_in? ? link_to('로그아웃', destroy_user_session_path, :method => :delete) : link_to('로그인', new_user_session_path) %>
        </li>
      </ul>
    </div>
  </div>
</div>
